:root {
    --cor1: #FFFFFF;
    --cor2: #FFFF0000;
    --cor3: #0000000D;
    --cor4: #FDFDFD;
    --cor5: #FDFDFD00;
    --cor6: #0000001A;
    --cor7: #C3BFBD;
    --cor8: #CFCFCF;
    --cor9: #00000033;
    --cor10: #FFFF00;
    --cor11: #FFCC00;
    --cor12: #211A16;
    --cor13: #707070;
    --cor14: #000000;
    --cor15: #1358E1;
    --cor16: #3585CA;
    --cor17: #69B0EC;
    --cor18: #32C52C;
    --cor19: #D53636;
    --cor20: #8B1414;
    --cor21: #F23737;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 375px;
    border-left: #e4e4e4 solid 2px;
    border-right: #e4e4e4 solid 2px;
    background-color: var(--cor1);
}
main {

}
header {
    height: 291px;
    position: relative;
}
h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.sec-1-btt {
    margin: 0;
    display: flex;
}

.sec-1-btt-1 p {
    margin: 0;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 12px;
}
.sec-1-btt-1 button{
    padding: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}
.icon button{
    background-color: transparent;
    border: none;
    padding: 0;
    padding-right: 14px;
}


.sec-publicidade {
    width: 320px;
    height: 50px;
    background-color: #CFCFCF;
    margin-bottom: 32px;
    margin: auto;
    text-align: center;
    justify-content: center;
}




.noticia {
    width: 345px;
    height: 386px;
    margin: auto;
}
.noticia-img img {
    width: 345px;
    height: 225px;

}









.header-container {
    background-color: var(--cor10);
    border-radius: 0px 0px 10px 10px;
    height: 100px;
    position: relative;
    z-index: 10;
}
.ios-bar img{
    width: 375px;
}
.header-menu {
    margin-left: 15px;
    display: flex;
    height: 26px;
    align-items: center;
}
.menu-logo img{
    width: 196px;
    height: 26px;
    margin-right: 50px;
}
.menu-icons img{
    width: 20px;
    height: 20px;
    padding-right: 7px;
    padding-left: 7px;
}
.img-capa img {
    width: 375px;
    height: 225px;
    position: absolute;
    transform: translateY(-10px);
}



.sec-1 {
    margin: auto;
    margin-top: 42px;
    width: 345px;
}
.sec-1 h2 {
    margin-bottom: 10px;
}
.sec-1 span {

}





.sec-2 {
    margin: auto;
    width: 345px;
    margin-top: 25px; 
        .icon {
            padding-left: 14px;
    }
}
.sec-2-not-1 {
    margin-bottom: 24px;
}
.sec-2-not-1 h3{
    height: 30px;
    padding-left: 10px;
    margin-bottom: 8px;
    border-left: #FFFF00 solid 4px;
}
.sec-2-not-1 p{
    margin-bottom: 12px;
    padding-left: 14px;
}



.sec-3 {
    margin: auto;
    width: 345px;
}
.sec-3-titulo {
    display: flex;
    margin-left: 14px;
    width: 345px;
    padding-top: 11px;
    align-items: center;
    
}
.titulo-3-txt h3{
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.titulo-3-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.sec-3-container {
    height: 274px;
    width: 345px;
    background-color: var(--cor10);
    position: relative;
    border-radius: 10px;
}
.sec-3-photo {
    position: absolute;
    transform: translateY(11px);
}
.sec-3-photo img{
    width: 345px;
    height: 225px;
}
.sec-3-button button{
    width: 54px;
    height: 20px;
    background-color: #FFFF00;
    border-radius: 10px;
    border: none;
    position: absolute;
    z-index: 1;
    transform: translateX(9px) translateY(-30px);
}

.sec-3-container2 {
    margin-top: 30px;
}


.localizacao{
    display: flex;
    margin-bottom: 20px;
}

.check-3 {
    width: 345px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}
.check-3 input:checked{
    background-color: var(--cor10);
    border: none;
    width:16px;
    height: 16px;
}
.check-3 input:hover{
    background-color: var(--cor10);
    border: none;
    width:16px;
    height: 16px;
}
.rounded-checkbox {
    width:10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    border: solid 2px #C3BFBD;
    cursor: pointer;
}


.sec-4 {
    margin: auto;
    width: 345px;
    margin-top: 24px;
}
.sec-4-infor1 {
    width: 345px;
    height: 152px;
    display: flex;
    background-image: linear-gradient(to right, #FFCC00, #FFFF00);
    margin-bottom: 32px;
    border-radius: 10px;
}
.inform1 h3 {
    padding: 18px 18px 14px 19px;
    width: 186px;
}
.informe1-img {
    padding-top: 18px;
}
.inform1 button{
    background-color: transparent;
    border: solid 1px #211A16;
    border-radius: 10px;
    width: 107px;
    height: 36px;
    margin-left: 18px;
}



.sec-4-infor2 {
    width: 345px;
    height: 152px;
    background-image: linear-gradient(to right,#1358E1,#3585CA, #69B0EC);
    margin-bottom: 32px;
    border-radius: 10px;
}


.sec-5 {
    margin: auto;
    width: 345px;
}
.sec-5-tit img{
    width: 345px;
    height: 225px;
    margin: auto;
}
.sec-5 h3 {
    font-size: 24px;
    width: 345px;

}
.sec-5-tit p{
    margin-top: 10px;
    margin-bottom: 18px;
}



.sec-6 {
    margin: auto;
    margin-top: 32px;
    display: flex;
    width: 345px;
    height: 180px;
    margin-bottom: 32px;

}


.sec-9 {
    margin: auto;
    width: 345px;
    height: 294px;
    background-image: linear-gradient(--cor10, --cor11);
    margin-top: 32px;
    margin-bottom: 32px;
}





.sec-10 {
    margin: auto;
    width: 345px;
    margin-bottom: 35px;
}
.sec-10-car {
    display: flex;
    overflow-y: auto;
    gap: 1.2rem;
    scroll-snap-type: x mandatory;
}
.sec-10 p,h6{
    margin:0;
}
.sec-10 h3{
    width: 225px;
    font-size: 24px;
    margin-bottom: 15px;
}
.sec-10-div {
    display: flex;
    border: solid 1px #FFFF00;
    width: 116px;
    height: 71px;
    border-radius: 10px;

}
.img-car {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;


}
.img-car img{
    width: 16px;
    height: 16px;
    padding-right: 10px;
}
.sec-10-div {
    width: 112px;
    height: 50px;
}
.sec-10-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec-10-car::-webkit-scrollbar {
    display: none;
}

.sec-11 {
    margin: auto;
    width: 345px;
}
.sec-11-noticias {
    display: flex;
}
.img-11-noticia img{
    width: 110px;
    height: 110px;
}




.sec-12 {
    margin: auto;
    width: 345px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.store-12 {
    display: flex;
    align-items: center;
}
.store-12 img{
    width: 28px;
    padding-right: 10px;
}
.store-12 h3 {
    font-size: 32px;
}

.stories-12 {
    display: flex;
    gap: 1.2rem;
    overflow-y: auto;
    scroll-snap-type: x mandatory;

}

.stories-12::-webkit-scrollbar {
    display: none;
}

.sec-12-stories p {
    width: 95px;
    font-size:10px;
    text-align: center;
}
.sec-12-storie img{
    width: 75px;
    border: 2px dashed var(--cor10);
    border-radius: 50%;
    padding: 10px;
}

.sec-12-storie {
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}








.barra-final1 {
    height: 112px;
}
.barra-final {

    position: relative;
    border-radius: 10px;


}
.barra-container {
    position: fixed;
    display: flex;
    bottom: 0;
    background-color: var(--cor1);
    box-shadow: 1px 1px 5px 1px #0000001A;
    height: 112px;
    border-radius: 10px;
}
.final-container {
    padding-left: 15px;
    padding-right: 16px;
    width: 44px;
    margin: auto;
}


