@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

* {

margin: 0 auto;
padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    width: 1300px;
    margin: auto;
    background-color: #F8F9FC;
}
a {
    color: #2F2F2F;
}
h1, h2, h3, h4, h5, h6 {
    color: #2F2F2F;
}
p{
    font-size: 16px;
    color: #2F2F2F;
}
.link-alter {
    display: flex;
    width: 900px;
    margin-bottom: 40px;
    margin-top: 40px;

}
article {
    width: 900px;
}
.img-play button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #D51C17 solid 1px;
    background-color: transparent;
    margin-right: 15px;
}
.img-play {
    margin: 0;
}
.txt-play {
    margin: 0;
}


.temp-sun p {
    width: 130px;
}
.header-top{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.temp-header{
    display: flex;
}
.header-mobile ul{
    list-style: none;
    display: flex;
}

.header-mobile {
    display: none;
}
.redes-sociais {
    display: flex;
}
.logo-header {
    margin-right: 90px;
}
.temp-header {
    margin-left: 0;

}
.btt-header {
    margin-left: 88px;
    margin-right: 88px;
}
.btt-header button {
    background-color: transparent;
    color: #D51C17;
    border: none;
    margin-right: 25px;
}
.search {
    margin-right: 88px;
    position: relative;

}
.search input{

    border-radius: 10px;
    padding: 10px;
    padding-left: 18px;
    width: 321px;
    border: 1px solid #E5E5E5;
}
.search button{
    position: absolute;
    border: none;
    background-color: transparent;
    transform: translateX(-35px) translateY(10px);

}
.face {
    background-color: #D51C17;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.insta {
    background-color: #D51C17;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.menu-header {
    margin-top: 37px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 15px;
    padding-bottom: 17px;
}

.menu-header span {
    color: #D51C17;
}
.menu-header ul{
    display: flex;
    list-style: none;
}
.menu-header li {
}
.menu-header li:hover {
    border-bottom: 2px solid #1f831c;
    border-length: 20px;
}
.menu-header a{
    color: #2F2F2F;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
}

.sec-1, .sec-2, .sec-3 {
    width: 1000px;
    margin: auto;
}
article p {
    padding-bottom: 40px;
}
.footer {
    width: 1300px;
}

.foto-capa img {
    margin-top: 18px;
    height: 400px;
}



.sec-1 {
    position: relative;
    margin-bottom: 80px;
}
.contain-1 {
    width: 100%;
    background-color: #F8F9FC;
    position: absolute;
    transform: translateX(0px) translateY(-80px);

}
.contain-1 h3{
    font-size: 12px;
    font-weight: bold;
    width: 900px;
    color: #D51C17;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contain-1 h1{
    font-size: 48px;
    font-weight: bold;
    width: 900px;
}
.contain-1 p{
    font-size: 12px;
    font-weight: bold;
    width: 900px;
    margin-bottom: 16px;
}
.contain-1 h4{
    margin-top: 8px;
    font-size: 20px;
    width: 900px;
    margin-bottom: 55px;
}
.contain-1 h5{
    font-size: 16px;
    width: 900px;
    margin-bottom: 55px;
}
.btt-left {
    margin-top: 32px;
    transform: translateX(-83px);
    position: absolute;
    display: flex;
    flex-direction: column;
}
.btt-right {
    margin-top: 32px;
    transform: translateX(83px);
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
}
.print button {
    border: none;
    background-color: transparent;
}
.btt-social {
    display: flex;
    flex-direction: column;
}
.btt-social button {
    width: 18px;
    border: none;
    background-color: transparent;
    padding-bottom: 20px;

}
.btt-ouvir p {
    font-size: 10px;
    color: #D51C17;
    font-family: 'Poppins-bold';
    text-align: center;
    margin-bottom: 33px;
}
.btt-ouvir button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}


.sec-2 {
    margin-top: 470px;
}

.contain-2 {
    margin-top: 300px;
    display: flex;
    margin-bottom: 65px;
}
.talk-sec-2 {
    width: 425px;
    height: 325px;
}
.sec-2-talk {
    width: 357px;
    height: 213px;
    margin-top: 56px;
}
.talk-sec-2 img{
    align-items: center;
    display: flex;
    justify-content: center;
}
.talk-sec-2 h2 {
    margin-top: 22px;
    width: 357px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.talk-sec-2 h3{
    text-align: center;
    margin-top: 8px;
    width: 357px;
    font-size: 14px;
}




.video {
    width: 900px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.music {
    width: 569px;
    margin-top: 48px;
    padding-bottom: 40px;

}
.for-layout{
    display: flex;
}
.layout {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    width: 224px;
    height: 200px;
}
.layout button{
    background-color: #D51C17;
    width: 63px;
    height: 23px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 57px;
}
.layout h3{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}
.layout p{
    font-size: 10px;
    margin-left: 20px;
    margin-top: 6px;
}
.titulo-3 h2{
    width: 900px;
    padding-top: 40px;
    margin-bottom: 15px;
    font-size: 36px;
}
.sec-3 h3{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 688px;
    color: #D51C17;
}
.galeria {
    width: 900px;
    margin: auto;
}
.galeria img {
    width: 900px;
    height: 470px;
    margin-top: 55px;
}
.input-sec-3 {
    width: 90px;
    margin: auto;
}
.galeria input {
    appearance: none;
    width: 10px;
    padding: 5px 5px 5px 5px;
    height: 10px;
    border-radius: 50%;
    border: #2F2F2F solid 2px;
    margin-right: 10px;
}
.galeria input:hover {
    background-color: #2F2F2F;
}
.galeria figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7C7C7C;
    font-size: 12px;
    margin-bottom: 20px;
}


.sec-4 {
    width: 1200px;

}
.header-4 {
    display: flex;
    color: #D51C17;
    margin-bottom: 20px;
    margin-top: 120px;
    align-items: center;

}
.header-logo4 {
    margin: 0;
    margin-right: 12px;
}
.txt-header-4 {
    margin: 0;
}
.txt-header-4 h3 {
    font-size: 30px;
    font-weight: bolder;
}


footer {
    background-color: #EBEBEB;
}
.header-footer {
    display: flex;
    margin: auto;
    margin-top: 125px;
    width: 1200px;
    padding-top: 50px;


} 

.links-footer {
    margin-top: 50px;
    display: flex;
    margin-bottom: 70px;
}
.links-footer ul {
    list-style: none;
}
.links-footer a{
    text-decoration: none;
}
.footer-and p{
    font-size: 10px;
    margin-bottom: 25px;
}
.input-sec-3 {
    display: flex;
    justify-content: center;
    width: 40px;

}
.input-sec-3 input{
    border-radius: 50%;
}

.logo-footer {
    margin: 0;
    margin-right: 905px;
    margin-top: ;
}
.redes-sociais {
    margin: 0;

}
.logo-footer img{
    width: 203px;
    height: 70px;
}
.footer-and {
    border-top: 1px solid #C2C2C2;
    height: 65px;
    width: 90%;
    display: flex;

}

.footer-and p {
    padding-top: 25px;
}

.and-logo {
    padding-top:16px;
}

@media (max-width: 778px){
    main {
        margin-top: 20px;
    }
    body{
        width: 370px;
        margin: auto;
    }
    .header-mobile ul{
        list-style: none;
        display: flex;
        width: 360px;
        overflow: hidden;
    }
    .sec-1 img {
        width: 100%;
    }
    .sec-2 img {
        width: 100%;
    }
    .sec-2 iframe {
        width: 100%;
    }

}