@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #0C0D1B;
    font-family: 'poppins';
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-position: top center;
}
p, h1,h2,h3,h4,h5,h6 {
    color: #FFFFFF;
}
span {
    color: #24BAD9;
}

.logo {
    padding-top: 51px;
    padding-bottom: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}



.menu {
    width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: center;


}

.menu li {
    padding-right:25px;

    font-size: 12px;
}
.menu a:hover {
    color: #24BAD9;
}
.menu a {
    color: #FFFFFF;
    text-decoration: none;
}





.sec-1 {
    display: flex;
    width: 527px;
    height: 277px;
    margin: auto;
    margin-top: 40px;
}
.sec-1 span{
    font-size: 12px;
    margin: 0;

}
.sec-1 h5 {
    font-size: 12px;
    margin: 0;
    color: #24BAD9;

}
.sec-1-1 h2{
    margin-top: 0;
    font-size: 30px;
    width: 221px;
    margin-bottom: 10px;
}
.sec-1-1 span{
    font-size: 30px;
}
.sec-1 p {
    font-size: 11px;
    margin: 0;
    margin-bottom: 23px;
}
.sec-1 button {
    background-color: #9D5FDC;
    color: #FFFFFF;
    width: 125px;
    height: 33px;
    font-size: 12px;
    border: none;
}



.sec-2 {
    width: 527px;
    height: 277px;
    margin: auto;
    margin-top: 60px;


}
.sec-2 h2{
    width: 387px;
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;

}




.sec-3 {
    width: 507px;
    margin: auto;
    margin-top: 150px;

}
.sec-menu h3{
    font-size: 25px;
}
.sec-3-1 {
    display: flex;
    height: 36px;
    align-items: center;
    margin-bottom: 35px;
    
}
.sec-3 button {
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 30px;
    padding: 5px 10px 8px 10px;
}
.sec-3 button:hover {
    background-color: #24BAD9;
}
.sec-3-but {
    margin-left: 60px;
}

.sec-3-quadro {
    background-color: #242435;
    width: 153px;
    height: 268px;
    opacity: 1;
    border-radius: 10px;
}
.sec-3-img {
    display: flex;
    justify-content: center;
    padding-top: 10px;

}
.sec-3-quadro h4,h5,p{
    margin: 0;

    padding: 0;
}

.sec-3-quadro {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sec-3-quadro p {
    color: #747470;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sec-3-quadro h4{
    font-size: 14px;
}
.sec-3-quadro h5{
    font-size: 13px;
    padding-top: 20px;
}
.sec-3-cont h5 {
    margin-left: 20px;
}
.sec-3-cont h4 {
    margin-left: 20px;
}
.sec-3-cont p {
    margin-left: 20px;
    padding-top: 0;
}

.sec-3-2 {
    display: flex;
}
.sec-3-cont h3{
    margin-top: 120px;

    font-size: 14px;
    text-align: center;
}






.sec-4 {
    width: 507px;
    margin: auto;
    margin-top: 55px;
}
.sec-4-menu h3 {
    width: ;
}

.sec-4-1 {
    display: flex;
    height: 36px;
    align-items: center;
    margin-bottom: 35px;
    
}
.sec-4 button {
    border-radius: 10px;
    background-color: transparent;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 5px 10px 8px 10px;
}
.sec-4 button:hover {
    background-color: #9D5FDC;
}
.sec-4-but {
    margin-left: 60px;
}

.sec-4-quadro {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sec-4-quadro {
    background-color: #242435;
    width: 153px;
    height: 233px;
    opacity: 1;
    border-radius: 10px;
}

.sec-4-quadro p {
    color: #747470;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sec-4-quadro h4{
    font-size: 14px;

}


.sec-4-quadro h5{
    font-size: 13px;
    padding-top: 20px;
}
.sec-4-2 {
    display: flex;
}


.circulo {
    position: relative;
}
.circ-1 {
    transform: translateX(55px) translateY(-23px);
    position: absolute;
}
.circ-2 {
    transform: translateX(48px) translateY(-30px);
    position: absolute;
}
.sec-4-cont h5{
    margin-top: 20px;
    text-align: center;
}
.sec-4-cont P{
    text-align: center;
    }


.sec-5 {
    width: 543px;
    margin: auto;
    margin-top: 45px;
}
.sec-5-titlle{
    display: flex;
}
.sec-5-titlle h2{
    font-size: 25px;
    margin-top: 0;
}
.sec-5-titlle p{
    font-size: 13px;
    margin-bottom: 25px;
}
.sec-5 button {
    width: 128px;
    height: 42px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;

}
.sec-5-prod {
    display: flex;
    margin-bottom: 50px;
    
}
.sec-5-prod-b {
    margin: 0;
    width: 119px;
    margin: auto;
    margin-top: 30px;
}
.sec-5-prod-b h5{
    font-size: 12px;
}
.sec-5-prod-b p{
    font-size: 11px;
    color: #FFFEF6;
}





.sec-6 {
    width: 578px;
    margin: auto;
    height: 194px;
    background-color: #2C2C47;
    display: flex;
    border-radius: 10px;
}
.sec-6-a h2{
    margin-top: 25px;
    margin-left: 20px;
    width: 243px;
}
.sec-6-a p{
    width: 407px;
    margin-left: 20px;
    font-size: 14px;
}
.sec-6 button {
    margin-top: 25px;
    margin-right: 25px;
    background-color: #9D5FDC;
    color: #FFFFFF;
    border-radius: 10px;
    width: 128px;
    height: 42px;
    border: none;
}

footer {

    width: 564px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer-a{
    display: flex;
    margin-bottom: 15px;
}
footer ul {
    display: flex;
    list-style: none;
    color: #FFFFFF;

}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    width: 105px;
    height: 23px;
}

footer li {
    padding-right: 20px;
    font-size: 10px;
}

.footer-and {
    border-top: 1px solid #747470;
}
.footer-and p{
    padding-top: 10px;
    font-size: 10px;
}
footer span {
    color: #9D5FDC;
}